.loginContainer
{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
color: red;
}
.success{
    color:green;
    font-size: 12px;
    text-align: center;
}
.error{
    color:red;
    font-size: 12px;
    text-align: center;
}